.cursor {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor--ring {
  width: 45px;
  height: 45px;
  background-color: var(--accent-color);
  border: 0;
  opacity: 0.5;
  transition:
    left 0.60s cubic-bezier(0.22, 1, 0.36, 1),
    top 0.60s cubic-bezier(0.22, 1, 0.36, 1),

    opacity 0.2s ease-out,
    width 0.2s ease-out,
    height 0.2s ease-out,
    background-color 0.2s ease-out;
}

.cursor--dot {
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  opacity: 1;
  transition:
    left 0.08s ease-out,
    top 0.08s ease-out,
    opacity 0.12s ease-out;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--ring.cursor--pressed {
  width: 42px;
  height: 42px;
  border-width: 0;
  background-color: var(--accent-color);
  opacity: 0.5;
}