<section class="section section--biography" id="biography">
  <div class="biography__inner">
    <header class="biography__header">
      <h2 class="section-title">Biographie</h2>
      <p class="section-subtitle">
        
      </p>
    </header>

    <div class="biography__content">    
      <p>Mon parcours s’articule autour d’un fil conducteur : la créativité.</p>
      <p>Pendant plus de quinze ans, j’ai exercé le métier de céramiste, façonnant la matière pour 
        transformer une idée en une forme tangible.</p>
      <p>Par la suite, j’ai choisi d’explorer un autre univers : le design numérique.<br>
        Loin d’être une rupture, cette orientation est restée dans la continuité de ma démarche créative.</p>
      <p>La terre et l’écran sont deux supports différents, mais l’intention artistique et la logique de 
        conception sont les mêmes.</p>
    </div>

  </div>
</section>
